.kanban-module .module-body {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    overflow-y: hidden;

    padding: 5px;
}



[contenteditable=true]:empty:not(:focus):before {
    content: attr(placeholder);
    color: grey;
    font-style: italic;
}

.kanban-column {
    height: 100%;
    min-width: 200px;
    border: solid white;
    border-width: 1px;

    box-sizing: border-box;
}

.add-kanban-column-button {
    box-sizing: border-box;
    margin-left: 5px;
}

.kanban-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 7px;
    margin: 2px;
    box-sizing: border-box;

    background-color: rgb(240, 240, 240);
    border: solid white;
    border-width: 1px;
}

.kanban-column-name {
    text-align: center;
    box-sizing: border-box;
    padding: 4px;
    margin: 0px;

    max-width: 130px;
    width: fit-content;
    height: fit-content;
    border: solid rgb(153, 153, 153);
    border-width: 1px;
    border-radius: 5px;
}

.draggable-wrapper {
    position: absolute;
    display: flex;

}

.kanban-item {
    /* position: absolute; */
    background-color: rgb(235, 235, 235);
    border: solid black;
    border-width: 1px;
    padding: 5px;
    margin: 10px;
    margin-right: 0px;

    box-sizing: border-box;

    word-break: break-all;
    text-align: center;

    width: 160px;
    /* height: 60px; */
}

.delete-kanban-item {
    width: 20px;
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
    margin-left: 0px;
    padding: 0px;
    /* position: relative;
    margin-left: 164px;
    margin-top: 13px; */
}