.kanban-module .module-body {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    overflow-y: hidden;

    padding: 5px;
}

.kanban-item {
    position: absolute;
    background-color: rgb(235, 235, 235);
    border: solid black;
    border-width: 1px;
    padding: 5px;
    margin: 10px;

    box-sizing: border-box;

    word-break: break-all;
    text-align: center;

    max-width: 180px;
    height: fit-content;
}

.kanban-item textarea {
    resize: none;
}

.kanban-column {
    height: 100%;
    width: 200px;
    border: solid white;
    border-width: 1px;

    box-sizing: border-box;
}

.kanban-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 7px;
    margin: 2px;
    box-sizing: border-box;

    border: solid white;
    border-width: 1px;
}