/* For the theme of the ReactQuill component see QuillSnow.css, these are tweaks to that theme and other elements of the module */

.quill,
.ql-editor,
.ql-container {
    background-color: floralwhite;
    width: 100%;
    padding: 0px;
    /* height: 100%;  */
    /* padding-bottom: 20px; */
}

.ql-container {
    height: calc(100% - 42px) !important;
}

.reflective-module .module-body {
    background-color: white;
}

.reflective-module .quill {
    height: calc(100% - 49px);
}

.notes-module .quill {
    height: calc(100%);
}

.notes-module,
.reflective-module {
    /* background-color: floralwhite; */
    overflow: hidden;
}

.reflective-module .module-body {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.reflective-template-div {
    background-color: white;
}

.reflective-template-div button {
    background-color: white;
    cursor: pointer;
    border-color: darkslategrey;
}