/* For the theme of the ReactQuill component see QuillSnow.css, these are tweaks to that theme and other elements of the module */

.quill,
.ql-editor,
.ql-container {
    background-color: floralwhite;
    width: 100%;
    padding: 0px;
    /* height: 100%;  */
    /* padding-bottom: 20px; */
}

.ql-container {
    height: calc(100% - 42px) !important;
}

.notes-module,
.reflective-module {
    /* background-color: floralwhite; */
    overflow: hidden;
}