/* .module-body {
    overflow-x: hidden;
} */

.timer-module .module-body section {
    width: 95%;
    max-width: 98%;
}

/* .timer-content #interval-set input,
.timer-content #interval-set button {
    width: 40px;
} */

.timer-bar {
    height: 40px;
    line-height: 30px;
    background-color: rgb(255, 100, 100);
    box-sizing: border-box;

    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.timer-bar p {
    text-wrap: nowrap;
    font-weight: bolder;
    margin: 0px;
}

.timer-label {
    margin-bottom: 5px;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 3px;

    width: 100%;
}