.todo-module .module-body section {
    width: 95%;
    max-width: 98%;
}

.todo-content {
    display: flex;
    flex-direction: column;

    width: 90%;
    height: fit-content;

    font-family: inherit;
}

.todo-item {
    display: flex;

    justify-content: space-between;

    background-color: white;

    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;

    margin: 5px;
    margin-bottom: 7px;
    padding: 5px;
}

.todo-item textarea {
    box-sizing: border-box;
    border: none;
    text-align: center;
    font-size: 15px !important;
    width: 100%;

    resize: none;
    resize:vertical;
    padding: 0;
    height: 50px;

    margin: 4px;
}

.todo-item button,
.todo-item input {
    min-height: fit-content;
    min-width: fit-content;
    width: 24px;

    box-sizing: border-box;
}

.reorder-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}