.module-container{
    margin:auto;
    display: flex;
    /* for use with rows */
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 95%;
    /* more dynamic display */
    /* flex-direction: row; */
  }
  
  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
  }