.module-container {
  width: 100%;
  padding-left: 10px;
}

.module-container-old {
  margin: auto;
  display: flex;
  /* for use with rows */
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 95%;
  /* more dynamic display */
  flex-direction: row;
}