.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: fit-content;
    height: 97vh;
    box-sizing: border-box;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    
    background-color: #474747;
}

.sidebar * {
    max-width: 150px;
    box-sizing: border-box;
}

.sidebar button {
    font-size: 1em;
    text-wrap: nowrap;
    width: 100%;
    padding: 1px;
    margin: 1px
}

.workspace-selector {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 150px;
    margin-bottom: 5px;
}

.workspace-selector button {
    font-size: 1em;
    text-wrap: nowrap;
    width: fit-content;
    padding: 1px;
    margin: 1px
}

.workspace-selector label {
    color: white;
    font-size: 1em;
}

.workspace-selector select {
    font-size: 1em;
}