.Sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98vh;
    width: fit-content;
    background-color: #474747;
}

button{
    font-size: 1em;
    text-wrap: nowrap;
    width: 100%;
    padding: 1px;
    margin:1px
}