.todo-content {
    display: flex;
    flex-direction: column;

    width: 90%;
    height: fit-content;
}

.todo-item {
    display: flex;

    justify-content: space-between;

    background-color: white;

    border: 1px;
    border-style: solid;
    border-color: black;

    margin: 5px;
    margin-bottom: 7px;
    padding: 5px;
}

.todo-item input {
    box-sizing: border-box;
    width: 89%;
    border: none;
    text-align: center;
    /* margin: 5px; */
}

.todo-item .delete-todo {
    width: 10%;
}